<h1>List of Articles</h1>
<%= link_to "Create Article", new_article_path %>
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
    </tr>
    <% @article.each do |data|%>
        <tr>
            <td><%= data.title %></td>
            <td><%= data.description %></td>
            <td><%= link_to "View", article_path(data)%></td>
            <td><%= link_to "Edit", edit_article_path(data)%></td>
            <td><%= link_to "Delete", article_path(data), method: :delete %></td>
        </tr>
    <% end %>
</table>
